.rectangle {
    height:  100px;
    width: 600px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 72px;
    border-radius: 10px;
    background: black;
    color: white;
    left: 30%;
    top: 100px;
}