.rectangle {
    height:  100px;
    width: 600px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 70px;
    border-radius: 10px;
    background: black;
    color: white;
    left: 1000px;
    top: 1000px;
}